
#container
{
    border: 1px solid rgb(196, 196, 196);
    border-top: 0;
    color: rgb(107, 23, 23);
    
    
   text-align: left;
    width: 400px;
    margin: auto;
    
}


#cabecera
{
background-color: #33A;
color: white;
font-family: Arial, Helvetica, sans-serif;
margin: 0px;
padding: 0.5em;
box-shadow: 0px 2px 20px 0px rgba(0,0,0,0.5)
}

#cabecera>span 
{
    margin-left: 10px;
    font-size: 12px;
    font-family:Arial, Helvetica, sans-serif ;
}


#container>h1
{
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 10px;
   
    
}


p
{
    font-family: Arial;
    font-size: 14px;
    margin-left: 10px;
    margin-right: 5px;
    
}